.userList {
    flex: 4;
}

.userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 15px;
}

.userListDelete {
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(203, 1, 1);
    color: white;
    cursor: pointer;
    margin-right: 15px;
}